[run]
# Указывает, какие приложения или папки нужно анализировать (проект)
source = .

[report]
# Список файлов и шаблонов путей, которые будут ПОЛНОСТЬЮ исключены из отчета
omit =
    manage.py
    config/*
    *__init__.py
    */admin.py
    */apps.py
    */migrations/*
    */management/*
    */urls.py
    */tests.py

# Дополнительная настройка: пропускать файлы, в которых нет исполняемого кода
skip_empty = True
