# ==============================================================================
# Django Settings
# ==============================================================================
SECRET_KEY=
DEBUG=

# ==============================================================================
# Postgresql Database Configuration
# ==============================================================================
NAME=
USER=
PASSWORD=
HOST=
PORT=
