# ==============================================================================
# Django Settings
# ==============================================================================
SECRET_KEY=
DEBUG=

# ==============================================================================
# Postgresql Database Configuration
# ==============================================================================
NAME=
USER=
PASSWORD=
HOST=
PORT=

# ==============================================================================
# Stripe Settings
# ==============================================================================
STRIPE_API_KEY=

# ==============================================================================
# Celery Settings
# ==============================================================================
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
